In [149]:
import pandas as pd
import re

In [150]:
sportsbetting=pd.read_excel("sportsbetting.xlsx")
sportsbetting.head()

,Sport,Wager,Paid,Winnings,Hold,Purchased Time,Competition,Event,Event Date
0,Baloncesto,71987.29,52845.38,19141.91,26.59,Checked,NaN,NaN,NaN
1,Baloncesto,99596.89,89131.31,10465.58,10.51,Unchecked,NaN,NaN,NaN
2,Baloncesto,152.48,156.86,-4.38,-2.87,Unchecked,Germany Bundesliga,NaN,NaN
3,Baloncesto,779.34,637.19,142.15,18.24,Checked,Germany Bundesliga,NaN,NaN
4,Baloncesto,1,0,1,100,Unchecked,Germany Bundesliga,Alba Berlín - BG Gottingen,2024-02-13 20:00:00

In [151]:
sportsbetting.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25227 entries, 0 to 25226
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sport           25227 non-null  object
 1   Wager           25227 non-null  object
 2   Paid            25227 non-null  object
 3   Winnings        25227 non-null  object
 4   Hold            25227 non-null  object
 5   Purchased Time  25227 non-null  object
 6   Competition     25182 non-null  object
 7   Event           23608 non-null  object
 8   Event Date      23608 non-null  object
dtypes: object(9)
memory usage: 1.7+ MB

In [152]:
sportsbetting['Wager'].head()

0    71987.29
1    99596.89
2      152.48
3      779.34
4           1
Name: Wager, dtype: object

In [153]:
sportsbetting['Wager'] = sportsbetting['Wager'].str.replace('.', '').astype(float)

C:\Users\mayin\AppData\Local\Temp\ipykernel_19424\1651970632.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  sportsbetting['Wager'] = sportsbetting['Wager'].str.replace('.', '').astype(float)

ValueError: could not convert string to float: '3033330,09'

In [125]:
sportsbetting.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25227 entries, 0 to 25226
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sport           25227 non-null  object
 1   Wager           1 non-null      float64
 2   Paid            25227 non-null  object
 3   Winnings        25227 non-null  object
 4   Hold            25227 non-null  object
 5   Purchased Time  25227 non-null  object
 6   Competition     25182 non-null  object
 7   Event           23608 non-null  object
 8   Event Date      23608 non-null  object
dtypes: float64(1), object(8)
memory usage: 1.7+ MB

In [110]:
sportsbetting['Wager'] = sportsbetting['Wager'].replace('.', '').replace(',', '.').astype(float)
sportsbetting['Paid'] = sportsbetting['Paid'].replace('.', '').replace(',', '.').astype(float)
sportsbetting['Winnings'] = sportsbetting['Winnings'].replace('.', '').replace(',', '.').astype(float)
sportsbetting

ValueError: could not convert string to float: '3.033.330,09'

In [100]:
sportsbetting.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25227 entries, 0 to 25226
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sport           25227 non-null  object
 1   Wager           1 non-null      float64
 2   Paid            1 non-null      float64
 3   Winnings        1 non-null      float64
 4   Hold            25227 non-null  object
 5   Purchased Time  25227 non-null  object
 6   Competition     25182 non-null  object
 7   Event           23608 non-null  object
 8   Event Date      23608 non-null  object
dtypes: float64(3), object(6)
memory usage: 1.7+ MB

In [ ]:
sportsbetting.columns

Index(['Sport', 'Wager', 'Paid', 'Winnings', 'Hold', 'Purchased Time',
       'Competition', 'Event', 'Event Date'],
      dtype='object')

In [ ]:
sportsbetting.describe()

,Sport,Wager,Paid,Winnings,Hold,Purchased Time,Competition,Event,Event Date
count,25227,25227,25227,25227,25227,25227,25182,23608,23608
unique,29,5641,3588,7030,5284,3,1031,19310,7063
top,Fútbol,2,0,2,100,Unchecked,Carreras del Día,Towcester DG 19:09,2024-01-27 16:00:00
freq,17128,1066,17473,830,17473,16416,2671,34,82

In [ ]:
sportsbetting.describe().T

                count unique                  top   freq
Sport           25227     29               Fútbol  17128
Wager           25227   5641                    2   1066
Paid            25227   3588                    0  17473
Winnings        25227   7030                    2    830
Hold            25227   5284                  100  17473
Purchased Time  25227      3            Unchecked  16416
Competition     25182   1031     Carreras del Día   2671
Event           23608  19310   Towcester DG 19:09     34
Event Date      23608   7063  2024-01-27 16:00:00     82

In [ ]:
sportsbetting.isnull().sum()

Sport                0
Wager                0
Paid                 0
Winnings             0
Hold                 0
Purchased Time       0
Competition         45
Event             1619
Event Date        1619
dtype: int64